<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs')%>
  <body>
    <header>
      <h1>Edit <%= list.name %>'s Info</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/lists">Lists Index</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <h2>List Attributes:</h2>
      <form action="/lists/<%= list._id %>?_method=PUT" method="POST">
        <label for="name">Name:</label>
        <input 
          type="text" 
          name="name" 
          placeholder="what should we call you?" 
          value="<%= list.name %>"
        />
        <label for="address">Delivery Address:</label>
        <input
          type="text"
          name="address"
          placeholder="where should we send your gifts?"
          value="<%= list.address %>"
        />
        <label for="listType">Type of List:</label>
        <select name="listType">
          <option value="" disabled selected>Whats the occasion?</option>
          <option value="Christmas">Christmas</option>
          <option value="Birthday">Birthday</option>
          <option value="Registry">Registry</option>
        </select>
        <input type="submit" value="Create List" />
      </form>
    </main>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var elems = document.querySelectorAll("select");
        var instances = M.FormSelect.init(elems, {});
      });
    </script>
  </body>
</html>
