<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs')%>
  <body>
    <header>
      <h1>Edit <%= list.name %>'s Info</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/lists">Lists Index</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <h2>List Attributes:</h2>
      <form action="/lists/<%=list._id%>?_method=PUT" method="POST">
        <label for="title">List Title:</label>
        <input 
          type="text" 
          name="title" 
          placeholder="name this list" 
        />
        <label for="listType">Type of List:</label>
        <select name="listType">
          <option value="" disabled selected>Whats the occasion?</option>
          <option value="Christmas">Christmas</option>
          <option value="Birthday">Birthday</option>
          <option value="Registry">Registry</option>
        </select>
        <input type="submit" value="Save" />
      </form>
      <a href="/list/<%=list._id%>">Cancel</a>
      <form action="/lists/<%=list._id%>?_method=DELETE" method="POST">
        <input type="submit" value="Delete this List" />
      </form>
    </main>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var elems = document.querySelectorAll("select");
        var instances = M.FormSelect.init(elems, {});
      });
    </script>
  </body>
</html>
