<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs')%>
  <body>
    <header>
      <div class="nav">
        <a href="/sessions/delete">Log Out</a>
        <a href="/users">Family Page</a>
        <a href="/users/<%= currentUser._id %>">Back to My Lists</a>
      </div>
      <h4><%= list.title %></h4>
      <p><%= list.listType %></p>
    </header>
    <main>
      <% if ( list.owner === currentUser._id ) { %>
      <section>
        <form action="/lists/<%= list._id %>?_method=DELETE" method="POST">
          <button
            class="teal darken-4 waves-effect waves-light btn"
            type="submit"
          >
            Delete List
          </button>
        </form>

        <a
          class="teal darken-4 waves-effect waves-light btn"
          href="/lists/<%=list._id%>/edit"
          >Edit List
        </a>
        <a
          class="teal darken-4 waves-effect waves-light btn"
          href="/gifts/new/<%=list._id%>"
          >Add an item to this List</a
        >
      </section>
      <% } %>
      <section>
        <h4>Items in this List</h4>
        
        <section class="mosaic">
          <% list.gifts.forEach( gift => { %>
            <div class="card">
              <div class="card-image">
                <img class="gift-image" src="<%=gift.imageUrl%>" />
                <span class="card-title"><%= gift.name %></span>
              </div>
              <div class="card-content">
                <p>Can be found at <%= gift.retailer %></p>
                <p>Price Range : <%= gift.price %></p>
              </div>
              <div class="card-action">
                <a href="/gifts/<%= gift._id %>">More details...</a>
              </div>
              <% if ( currentUser.giftee === user.name ) { %>
              <form class="purchase-box" action="/gifts/purchased/<%= gift._id %>" method="post">
                <label for="purchased-<%= gift._id %>">
                  <input
                    id="purchased-<%= gift._id %>"
                    type="checkbox"
                    onClick="this.form.submit()"
                    <% if (gift.purchased){ %>
                      checked="checked" 
                    <% } %> 
                  />
                  <span>Purchased</span>
                </label>
              </form>
              <% } %>
            </div>
          <% }) %>
          </section>
      </section>
    </main>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var elems = document.querySelectorAll("select");
        var instances = M.FormSelect.init(elems, {});
      });
    </script>
  </body>
</html>