<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs')%>
  <body>
    <header>
      <div class="nav">
        <a href="/sessions/delete">Log Out</a>
        <a href="/users">Family Page</a>
        <a href="/users/<%= currentUser._id %>">Back to My Lists</a>
      </div>
    </header>
    <main>
      <section>
        <h1><%= list.title %></h1>
        <p><%= list.listType %></p>
      </section>
      <section>
        <form action="/lists/<%= list._id %>?_method=DELETE" method="POST">
          <button
            class="teal darken-4 waves-effect waves-light btn"
            type="submit"
          >
            Delete List
          </button>
        </form>

        <a
          class="teal darken-4 waves-effect waves-light btn"
          href="/lists/<%=list._id%>/edit"
          >Edit List
        </a>
      </section>
      <section>
        <h1>Gifts in this List</h1>
        <a
          class="teal darken-4 waves-effect waves-light btn"
          href="/gifts/new/<%=list._id%>"
          >Add an item to this List</a
        >
        <ul>
          <% list.gifts.forEach( gift => { %>
          <li>
            <a href="/gifts/<%= gift._id %>"> <%= gift.name %></a
            ><span><%= gift.price %></span><span><%= gift.imageUrl %></span>
            <form action="/gifts/purchased/<%= gift._id %>" method="post">
              <label for="purchased-<%= gift._id %>">
                <input
                  id="purchased-<%= gift._id %>"
                  type="checkbox"
                  onClick="this.form.submit()"
                  <% if (gift.purchased){ %>
                  checked="checked" 
                  <% } %>
                  />
                <span>Purchased</span>
              </label>
            </form>
          </li>
          <% }) %>
        </ul>
      </section>
    </main>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var elems = document.querySelectorAll("select");
        var instances = M.FormSelect.init(elems, {});
      });
    </script>
  </body>
</html>
