<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs')%>
  <body>
    
    <section>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header">
            <i class="material-icons">menu</i>
          </div>
          <div class="collapsible-body">
            <a class="menu-link" href="/sessions/delete">Log Out</a>
            <a class="menu-link" href="/users">Family Page</a>
            <a class="menu-link" href="/users/<%= currentUser._id %>">Back to My Lists</a>
          </div>
        </li>
      </ul>
    </section>
    <main>
      <h4><%= list.title %></h4>
      <p><%= list.listType %></p>
      <% if ( list.owner === currentUser._id ) { %>
      <section>
        <form action="/lists/<%= list._id %>?_method=DELETE" method="POST">
          <button class="my-btn" type="submit">Delete List</button>
        </form>
        <a class="my-btn" href="/lists/<%=list._id%>/edit">Edit List</a>
        <a class="my-btn" href="/gifts/new/<%=list._id%>">Add an item to this List</a>
      </section>
      <% } %>
      <section>
        <h4>Items in this List</h4>
        
        <section class="mosaic">
          <% list.gifts.forEach( gift => { %>
            <a href="/gifts/<%= gift._id %>">
            <div class="card gift-item">
              <div class="card-image">
                <img class="gift-image" src="<%=gift.imageUrl%>" />
                <span class="card-title"><%= gift.name %></span>
              </div>
              <div class="card-content">
                <p>Price Range : <%= gift.price %></p>
              </div>
              
              <% if ( currentUser.giftee === user.name ) { %>
              <form class="purchase-box" action="/gifts/purchased/<%= gift._id %>" method="post">
                <label for="purchased-<%= gift._id %>">
                  <input
                    id="purchased-<%= gift._id %>"
                    type="checkbox"
                    onClick="this.form.submit()"
                    <% if (gift.purchased){ %>
                      checked="checked" 
                    <% } %> 
                  />
                  <span>Purchased</span>
                </label>
              </form>
              <% } %>
            </div>
            </a>
          <% }) %>
      </section>
    </main>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var elems = document.querySelectorAll("select");
        var instances = M.FormSelect.init(elems, {});
      });

      document.addEventListener("DOMContentLoaded", function () {
        var elems = document.querySelectorAll(".collapsible");
        var instances = M.Collapsible.init(elems, {});
      });
    </script>
  </body>
</html>