<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs')%>
  <body>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var elems = document.querySelectorAll(".collapsible");
        var instances = M.Collapsible.init(elems, {});
        let elems2 = document.querySelectorAll("select");
        let instances2 = M.FormSelect.init(elems2, {});
      });
    </script>

    <section>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header">
            <i class="material-icons">menu</i>
          </div>
          <div class="collapsible-body">
            <a class="menu-link" href="/sessions/delete">Log Out</a>
            <a class="menu-link" href="/users/">Family Page</a>
            <a class="menu-link" href="/users/<%=currentUser._id%>">Back to My Profile</a>
          </div>
        </li>
      </ul>
    </section>
   
    <main>
      <p>User Info:</p>
      <form action="/users/<%= user._id %>?_method=PUT" method="POST">
        <label for="name">Name</label>
        <input
          type="text"
          name="name"
          value="<%=user.name%>"
          placeholder="update name"
        /><br />

        <label for="username">Username:</label>
        <input
          type="text"
          name="username"
          value="<%=user.username%>"
          placeholder="update username"
        /><br />

        <label for="name">New Password:</label>
        <input type="password" name="password" placeholder="update password" />

        <label for="address">Delivery Address:</label>
        <input
          type="text"
          name="address"
          value="<%=user.address%>"
          placeholder="update address"
        /><br />

        <button
          class="my-btn"
          type="submit"
          value="Save"
        >Save</button>
      </form>
      <a
        class="my-btn"
        href="/users/<%=user._id%>"
        >Cancel</a
      >
      <form action="/users/<%=user._id%>?_method=DELETE" method="POST">
        <button
          class="my-btn"
          type="submit"
          value="Delete My Profile"
        >Delete My Profile</button>
      </form>
    </main>
  </body>
</html>
