<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs')%>
  <body>
    <header>
      <div class="nav">
        <a href="/sessions/delete">Log Out</a>
        <a href="/users">Family Page</a>
      </div>
      <h1>Edit <%= user.name %>'s Profile</h1>
    </header>
    <main>
      <p>User Info:</p>
      <form action="/users/<%= user._id %>?_method=PUT" method="POST">
        <label for="name">Name</label>
        <input
          type="text"
          name="name"
          value="<%=user.name%>"
          placeholder="update name"
        /><br />

        <label for="username">Username:</label>
        <input
          type="text"
          name="username"
          value="<%=user.username%>"
          placeholder="update username"
        /><br />

        <label for="name">New Password:</label>
        <input type="password" name="password" placeholder="update password" />

        <label for="address">Delivery Address:</label>
        <input
          type="text"
          name="address"
          value="<%=user.address%>"
          placeholder="update address"
        /><br />

        <button
          class="teal darken-4 waves-effect waves-light btn"
          type="submit"
          value="Save"
        >Save</button>
      </form>
      <a
        class="teal darken-4 waves-effect waves-light btn"
        href="/users/<%=user._id%>"
        >Cancel</a
      >
      <form action="/users/<%=user._id%>?_method=DELETE" method="POST">
        <button
          class="teal darken-4 waves-effect waves-light btn"
          type="submit"
          value="Delete My Profile"
        >Delete My Profile</button>
      </form>
    </main>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        let elems = document.querySelectorAll("select");
        let instances = M.FormSelect.init(elems, {});
      });
    </script>
  </body>
</html>
