<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs')%>
  <body>
    <header>
      <div class="nav">
        <a href="/sessions/delete">Log Out</a>
        <a href="/users">Family Page</a>
        <% if ( currentUser && currentUser._id == user._id) { %>
        <a href="/users/<%=user._id%>/edit">Edit Profile</a>
        <% } %>
      </div>
      <h1>My Lists</h1>
    </header>
    <main>
      <section>
        <% if ( user.name == currentUser.name ) { %>
        <section class="giftee">
          <ul class="collapsible">
            <li>
              <div class="collapsible-header">Reveal Secret Santa Gift Recipient</div>
              <div class="collapsible-body"><span><%= user.giftee %></span></div>
            </li>
          </ul>
        </section>
        <% } else { %>
        <h1><%= user.name %>'s Lists:</h1>
        <% } %>
        <% if ( currentUser._id == user._id ) { %>
          <a class="teal darken-4 waves-effect waves-light btn" href="/lists/new/">Create New List</a>
        <% } %> 

        <% user.lists.forEach( list=> { %>
            <a href="/lists/<%=list._id%>">
              <p class="list-item">
                <%= list.title %>
              </p>
            </a>
        <% }) %>
      </section>
    </main>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.collapsible');
        var instances = M.Collapsible.init(elems, {});
      });
    </script>
  </body>
</html>
