<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs')%>
  <body>
    <header>
      <div class="nav">
        <a href="/sessions/delete">Log Out</a>
        <a href="/lists/<%= list._id %>">Back to List</a>
      </div>
      <h1>Edit Item:</h1>
    </header>
    <main>
      <h4>Item Details</h4>
      <form action="/gifts/<%= gift._id %>?_method=PUT" method="post">

        <label for="name">Item Name:</label>
        <input type="text" name="name" placeholder="A fancy Sweater" value="<%= gift.name %>"/><br />
        
        <label for="retailer">Retailer:</label>
        <input type="text" name="retailer" placeholder="Macy's" value="<%= gift.retailer %>"/><br />
        
        <label for="url">Purchase Url:</label>
        <input type="text" name="url" placeholder="https://www.macys.com" value="<%= gift.url %>"/><br />
        
        <label for="imageUrl">Image Url:</label>
        <input type="text" name="imageUrl" placeholder="copy an image URL here (optional)" value="<%= gift.imageUrl %>"/><br />
        
        <label for="details">Details:</label>
        <input type="text" name="details" placeholder="size med, color red" value="<%= gift.details %>" /><br />

        <label for="price">Price:</label>
        <input type="text" name="price" placeholder="45.00" value="<%= gift.price %>"/><br />

        <button class="my-btn" type="submit" >Updtate Item</button>
      </form>
    </main>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var elems = document.querySelectorAll("select");
        var instances = M.FormSelect.init(elems, {});
      });
    </script>
  </body>
</html>