<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs')%>
  <body>
    <header>
      <div class="nav">
        <a href="/sessions/delete">Log Out</a>
        <a href="/lists/<%= list._id %>">Back to <%= list.title %></a>
      </div>
    </header>
    <% if ( gift.owner === currentUser.id ) { %>
      <form action="/gifts/<%=gift._id%>?_method=DELETE" method="POST">
        <button type="submit" class="my-btn">Delete Item</button>
      </form>
      <a href="/gifts/<%=gift._id%>/edit" class="my-btn">Edit</a>
    <% } %>
    <main>
      <section>
        <h4><%= gift.name %></h4>
        <p><%= gift.retailer %></p>
        <a href="<%= gift.url %>" target="_blank">
          Click Here to purchase this gift from <%= gift.retailer %>
        </a>
        <p>Item Details:</p>
        <p><%= gift.details %></p>
        <p>Price Range:</p>
        <p><%= gift.price %></p>
      </section>
      <% if ( gift.purchased ) { %>
      <p class="purchase-message">This gift has been marked as purchased.</p>
      <% } %>
    </main>
  </body>
</html>
