<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs')%>
  <body>
    <header>
      <div class="nav">
        <a href="/sessions/delete">Log Out</a>
        <a href="/lists/<%= list._id %>">Back to <%= list.title %></a>
      </div>
    </header>
    <main>
      <section>
        <h1><%= gift.name %></h1>
        <p><%= gift.retailer %></p>
        <a href="<%= gift.url %>" target="_blank"
          >Click Here to purchase this gift from <%= gift.retailer %></a
        >
        <p>Item Details:</p>
        <p><%= gift.details %></p>
        <p>Price Range:</p>
        <p><%= gift.price %></p>
      </section>
      <% if ( gift.purchased ) { %>
        <p>This gift has been marked as purchased.</p>
      <% } %>
      <section>
        <form action="/gifts/<%=gift._id%>?_method=DELETE" method="POST">
          <button
            type="submit"
            class="teal darken-4 waves-effect waves-light btn"
          >
            Delete Item
          </button>
        </form>
        <a
          href="/gifts/<%=gift._id%>/edit"
          class="teal darken-4 waves-effect waves-light btn"
          >Edit</a
        >
      </section>
    </main>
  </body>
</html>
