<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs')%>
  <body>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var elems = document.querySelectorAll(".collapsible");
        var instances = M.Collapsible.init(elems, {});
        let elems2 = document.querySelectorAll("select");
        let instances2 = M.FormSelect.init(elems2, {});
      });
    </script>

    <section>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header">
            <i class="material-icons">menu</i>
          </div>
          <div class="collapsible-body">
            <a class="menu-link" href="/sessions/delete">Log Out</a>
            <a class="menu-link" href="/users">Family Page</a>
            <a class="menu-link" href="/lists/<%= list._id %>">Back to <%= list.title %></a>
          </div>
        </li>
      </ul>
    </section>

    <% if ( gift.owner === currentUser.id ) { %>
      <form action="/gifts/<%=gift._id%>?_method=DELETE" method="POST">
        <button type="submit" class="my-btn">Delete Item</button>
      </form>
      <a href="/gifts/<%=gift._id%>/edit" class="my-btn">Edit</a>
    <% } %>
    <main class="gift-details">
      <section>
        <h4><%= gift.name %></h4>
        <a href="<%= gift.url %>" target="_blank">
          <b>Purchase this gift from <%= gift.retailer %></b>
        </a>
        <p><b>Retailer:</b> <%= gift.retailer %></p>
        <p><b>Item Details:</b> <%= gift.details %></p>
        <p><b>Price Range:</b> <%= gift.price %></p>
        <% if ( gift.purchased ) { %>
        <p class="purchase-message">This gift has been marked as purchased.</p>
        <% } %>
      </section>
      <img src="<%=gift.imageUrl%>" class="gift-details-img" />
    </main>
  </body>
</html>
