<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs')%>
  <body>

    <section>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header">
            <i class="material-icons">menu</i>
          </div>
          <div class="collapsible-body">
            <a class="menu-link" href="/sessions/delete">Log Out</a>
            <a class="menu-link" href="/users">Family Page</a>
            <a class="menu-link" href="/lists/<%= list._id %>">Back to <%= list.title %></a>
          </div>
        </li>
      </ul>
    </section>

    <% if ( gift.owner === currentUser.id ) { %>
      <form action="/gifts/<%=gift._id%>?_method=DELETE" method="POST">
        <button type="submit" class="my-btn">Delete Item</button>
      </form>
      <a href="/gifts/<%=gift._id%>/edit" class="my-btn">Edit</a>
    <% } %>
    <main>
      <section>
        <h4><%= gift.name %></h4>
        <p><%= gift.retailer %></p>
        <a href="<%= gift.url %>" target="_blank">
          Click Here to purchase this gift from <%= gift.retailer %>
        </a>
        <p>Item Details:</p>
        <p><%= gift.details %></p>
        <p>Price Range:</p>
        <p><%= gift.price %></p>
      </section>
      <% if ( gift.purchased ) { %>
      <p class="purchase-message">This gift has been marked as purchased.</p>
      <% } %>
    </main>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var elems = document.querySelectorAll(".collapsible");
        var instances = M.Collapsible.init(elems, {});
      });
    </script>
  </body>
</html>
